<md-dialog md-theme="{{theme}}" aria-label="Your Friend Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Your friend</h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close Dialog" ng-click="close()">
                <md-tooltip md-direction="bottom">Close without submit</md-tooltip>
                <md-icon md-svg-src="./assets/icons/close.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="form-container">
            <md-input-container>
                <label>Full name</label>
                <input type="text" ng-model="fullname">
            </md-input-container>

            <md-input-container>
                <label>Phone number</label>
                <input type="tel" ng-model="phone">
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-raised md-accent" ng-click="submit()">Submit</md-button>
    </md-dialog-actions>
</md-dialog>