<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booq App</title>

    <script src="./assets/script/angular.bundle.js"></script>

    <link rel="stylesheet" href="./style/style.css">
</head>

<body style="display: none;" ng-app="app" ng-controller="ctrl" md-theme="{{theme}}" md-theme-watch=""
    ng-class="{'destroy': destroying}">
    <md-toolbar class="app-bar md-primary md-hue-2">
        <div class="md-toolbar-tools">

            <md-icon ng-if="mute == true" aria-label="Logo" md-svg-src="./assets/icons/not-mute.svg">
            </md-icon>
            <md-icon ng-if="mute == false" aria-label="Logo" md-svg-src="./assets/icons/mute.svg">
            </md-icon>
            <span class="title">Booq{{ing?'ing':''}}</span>
            <div class="flex"></div>
            <button ng-click="minimize()">
                <md-icon md-svg-src="./assets/icons/minimize.svg"></md-icon>
            </button>
            <button ng-click="close()">
                <md-icon md-svg-src="./assets/icons/close.svg"></md-icon>
            </button>
        </div>
    </md-toolbar>

    <md-toolbar class="fixed">
        <div class="md-toolbar-tools">
            <div class="logo" ng-class="{'animated': loading}"></div>
            <h2>Booq</h2>
            <span flex></span>
            <md-button ng-if="auth.ed == true" class="md-icon-button" ng-disabled="loading"
                ng-click="openSettings($event)">
                <md-tooltip md-direction="bottom">Settings</md-tooltip>
                <md-icon md-svg-src="./assets/icons/settings.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-menu context-menu ng-attr-authed="{{auth.ed}}">
        <main id="body" ng-right-click="$mdOpenContextMenu($event)">
            <md-toolbar ng-if="!loading && (!auth.ed || (auth.ed && users.length != 0))">
                <div class="md-toolbar-tools big-toolbar" layout="row" layout-align="center center"
                    ng-class="{'more-big': !auth.ed}">
                    <md-button style="margin-top: -80px;" ng-if="ing" ng-click="okey()">f**k off</md-button>
                </div>
            </md-toolbar>

            <md-progress-linear class="md-accent" ng-if="loading" md-mode="indeterminate"></md-progress-linear>

            <div class="container cards" ng-if="!loading && auth.ed == true" ng-class="{'less-top': ing}">
                <ng-container ng-repeat="item in users">
                    <md-card ng-attr-i="{{$index}}" ng-class="{'booqing': by == item.phone}">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{item.fullname}}</span>
                                <span class="md-subhead">{{item.phone}}</span>
                                <div class="online" ng-if="item.online == true"></div>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row">
                            <md-button style="margin-left: 0px;" class="md-icon-button"
                                ng-click="askForDelete($event, $index)">
                                <md-tooltip md-direction="top">Delete my friend</md-tooltip>
                                <md-icon md-svg-src="./assets/icons/delete.svg"></md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="openFriendDialog($event, $index)">
                                <md-tooltip md-direction="top">Edit my friend</md-tooltip>
                                <md-icon md-svg-src="./assets/icons/edit.svg"></md-icon>
                            </md-button>
                            <span flex></span>
                            <md-button style="margin-right: 0px;" class="md-icon-button"
                                ng-click="openBigButton($event, $index)">
                                <md-tooltip md-direction="top">Your friend</md-tooltip>
                                <md-icon md-svg-src="./assets/icons/next.svg"></md-icon>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </ng-container>
            </div>


            <div class="container auth" ng-if="!loading && auth.ed == false">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Your account</span>
                            <span class="md-subhead" ng-if="auth.sent == false">You need an account to make booq for
                                your
                                friends</span>
                            <span class="md-subhead" ng-if="auth.sent == true">We've sent a code number to
                                {{auth.phone}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <div class="auth-container">
                        <md-input-container ng-if="auth.sent == false">
                            <label>Phone number</label>
                            <input type="tel" ng-disabled="auth.ing" auto-focus ng-model="auth.phone"
                                ng-keyup="$event.keyCode == 13 && authSubmit()">
                        </md-input-container>

                        <md-input-container ng-if="auth.sent == true">
                            <label>Code number</label>
                            <input type="tel" ng-disabled="auth.ing" auto-focus ng-model="auth.code"
                                ng-keyup="$event.keyCode == 13 && authSubmit()">
                        </md-input-container>
                    </div>

                    <md-button ng-if="auth.sent" ng-disabled="auth.ing" ng-click="authBack()">Back to phone</md-button>
                    <md-button class="md-raised md-accent" ng-disabled="auth.ing" ng-click="authSubmit()">submit
                    </md-button>
                </md-card>
            </div>

            <md-button ng-if="!loading && auth.ed == true" class="md-fab md-accent add"
                ng-click="openFriendDialog($event)">
                <md-tooltip md-direction="left">Add new firend</md-tooltip>
                <md-icon md-svg-src="./assets/icons/add.svg"></md-icon>
            </md-button>
        </main>

        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="openFriendDialog(null)">
                    <md-icon md-svg-src="./assets/icons/add.svg"></md-icon>
                    <span>Add new friend</span>
                </md-button>
            </md-menu-item>
            <ng-container ng-if="$userIndex != -1">
                <md-divider></md-divider>
                <md-menu-item>
                    <md-button ng-click="openFriendDialog(null, $userIndex)">
                        <md-icon md-svg-src="./assets/icons/edit.svg"></md-icon>
                        <span>Edit my friend</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="askForDelete(null, $userIndex)">
                        <md-icon md-svg-src="./assets/icons/delete.svg"></md-icon>
                        <span>Delete my friend</span>
                    </md-button>
                </md-menu-item>
            </ng-container>
        </md-menu-content>
    </md-menu>
    <script src="./core/app.js"></script>
</body>

</html>